/*
 * Empty Stylesheet file.
 */

#window-close {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-close.png");
    -fx-padding: 16 13 14 16;
}

#window-close:focused,#window-close:hover {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-close-hover.png");
    -fx-padding: 16 13 14 16;
}

#window-min {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-min.png");
    -fx-padding: 16 13 12 12;
}

 #window-min:hover {
    -fx-font-size: 1px;
    -fx-background-color: null;
    -fx-background-image: url("../images/window-min-hover.png");
    -fx-padding: 16 13 12 12;
}