/*
 * Empty Stylesheet file.
 */
.MainClip {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 20;
}

#AnchorPane2{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.loginFxmlClass {
    -fx-background-color: #eef5fb;
}

.title {
    -fx-font-size: 36px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 5,0,0,1 );
}

#savePass, #autoLogin{
    -fx-text-fill: skyblue;
}

#usr_pic {
    -fx-border-color: skyblue, derive(skyblue, 25%);
    -fx-border-width: 2, 1.5;
    -fx-border-insets: -1, 0; 
    -fx-border-radius: 8;
    -fx-effect: dropshadow(GAUSSIAN, rgb(0, 0, 0, 1), 10, 0, 0, 0);
}

#blogin{
    -fx-background-color:
    	rgb(255, 255, 255, 0.08),
    	rgb(0, 0, 0, 0.8),
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#242a2e, #23282e),
        radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,0.9),
        rgba(255,255,255,0));
    -fx-background-radius: 7, 6, 5, 4, 3, 5;
    -fx-background-insets: -3 -3 -4 -3, -3, 0, 1, 2, 0;
    -fx-font-family: "Arial";
    -fx-text-fill: white;
    -fx-font-size: 20;
    -fx-text-fill: linear-gradient(white, #d0d0d0);
}

#blogin:focused, #blogin:hover {
    -fx-background-color:
    	rgb(255, 255, 255, 0.08),
    	rgb(0, 0, 0, 0.8),
        #090a0c,
        linear-gradient(#4a5661 0%, #1f2429 20%, #1f242a 100%),
        linear-gradient(#3f4950, #23282e),
        radial-gradient(center 50% 0%, radius 100%, rgba(135,142,148,0.9),
        rgba(255,255,255,0));
}