/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-image: url("../images/wallpaper.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

.MainClip {
    -fx-border-color: black;
    -fx-border-width: 1;
    -fx-border-radius: 20;
}

.title {
    -fx-font-size: 32px;
    -fx-font-weight: bold;
    -fx-font-family: "Arial Black";
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 5,0,0,1 );
    -fx-padding: 0 0 0 20;
}

#ToolBar{
    -fx-padding: 10 0 10 20;
}

#userInfo{
    -fx-opacity: 0.95;
}

#ToolBar, #browser, #statusBar{
    -fx-opacity: 0.9;
}

#localDirList, #remoteDirList, #statusBar{
    -fx-background-color: 
       -fx-shadow-highlight-color, 
       -fx-outer-border, 
       -fx-inner-border, 
       -fx-body-color;    
}

.ToolBarButton{
    -fx-font: 12 arial; 
    -fx-background-color: 
       -fx-shadow-highlight-color, 
       -fx-outer-border, 
       -fx-inner-border, 
       -fx-body-color;
    -fx-background-insets: 0 0 -1 0, 0, 1, 2;
    -fx-background-radius: 3px, 3px, 2px, 1px;
}

#statusBar{
    -fx-padding: 10;
}

.menu-item .label {
    -fx-text-fill: black;
}

.menu-item:focused {
     -fx-background-color: darkgray;
}

.menu-item:focused .label {
    -fx-text-fill: blue;
}

.context-menu {
    -fx-skin: "com.sun.javafx.scene.control.skin.ContextMenuSkin";
    //-fx-background-color: black;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
    //-fx-background-image: url("../images/wallpaper.jpg");
    //-fx-background-repeat: no-repeat;
    //-fx-background-position: center center;
}
.ShortCutBar{
    -fx-padding: 0 0 0 -5;
}

.ShortCutBar .ShortCutBarBtn{
    -fx-background-size: 32;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
    -fx-pref-height: 32;
    -fx-pref-width: 32;
}

#btnLogout, #BtnSetting{
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.ShortCutBarBtn:hover, .userInfoBtn:hover{
    -fx-effect: dropshadow(gaussian , rgba(0,0,0,0.5) , 5,0,0,0 );
}

#username{
    -fx-padding: 0 0 0 8;
}

#BtnAll{
    -fx-background-image: url("../images/home_icon.png"); 
}

#BtnMusic{
    -fx-background-image: url("../images/music_icon.png");    
}

#BtnFile{
    -fx-background-image: url("../images/files_icon.png");   
}

#BtnPic{
    -fx-background-image: url("../images/pic_icon.png");   
}

#BtnVideo{
    -fx-background-image: url("../images/video_icon.png");   
}

#BtnAll:hover{
    -fx-background-image: url("../images/home_icon_hover.png");     
}

#BtnMusic:hover{
    -fx-background-image: url("../images/music_icon_hover.png");    
}

#BtnFile:hover{
    -fx-background-image: url("../images/files_icon_hover.png");   
}

#BtnPic:hover{
    -fx-background-image: url("../images/pic_icon_hover.png");   
}

#BtnVideo:hover{
    -fx-background-image: url("../images/video_icon_hover.png");   
}